@import "tailwindcss";



/* * {
  outline: 1px solid red;
} */

.nav-link {
  @apply text-2xl font-extrabold text-amber-300 hover:text-black;
}
.nav-shadow {
  text-shadow:
    1px 1px 0 #22201e,
    2px 2px 0 #3e3c3b,
    3px 3px 0 #050201,
    4px 4px 8px rgba(0, 0, 0, 0.4);
}

input {
  @apply border border-blue-300 px-10 text-start py-3 rounded;
}

.input2 {
  @apply justify-center bg-blue-200 font-bold;
}
.about-card {
  @apply w-full max-w-[380px] min-h-[330px]
         flex flex-col  items-center
         border-r hover:shadow-2xl
         transition-all duration-300 p-15;
}
.icon {
  @apply bg-black/10  p-2 hover:shadow-xl transition-all duration-300 hover:-translate-y-2 text-blue-900   rounded-xl h-15 w-15;
}
.heading {
  @apply font-bold px-8 text-2xl text-black p-4 mb-5 text-center;
}
.p {
  @apply text-black text-center px-6 leading-7 ;
}
.primiumCardHeading {
  @apply text-4xl mb-5 font-bold text-[#032B56] text-center;
}
.price {
  @apply text-blue-600 text-2xl font-black text-center;
}
.primium {
  @apply bg-gray-200 shadow-lg p-10  relative;
}
.primium-list {
  @apply mt-6 w-full list-none space-y-3 text-left;
}
.primium-list li {
  @apply relative pl-9 py-2.5 pr-4 bg-gray-200 translate-0  border-b-blue-300 text-gray-800 text-base font-semibold shadow-sm;
}
.primium-list :before {
  content: "✓";
  @apply absolute left-3 top-1/2 -translate-y-1/2 text-green-600 font-bold text-lg;
}

.contect {
  @apply border;
}

.footer-link:before {
  content: "◉";
  @apply text-xs;
}
